*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f6f8f9;
}

.container-header{
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
}

.header-logo{
    width: 70px;
    height: auto;
    margin-left: 20px;
}
.header-text{
    display: inline-block;
    margin-left: 20px;
    font-size: 70px;
}

main{
    margin: 50px auto;
    width: 70%;
}

.container-buttons{ 
    padding: 15px 0px 8px 0px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px 0 0 0;
}

button{
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 8px ;

}

.first-button{
    background-color: rgb(71,173,241);
    color: white;
    margin-left: 5%;
}

.second-button{
    color:rgb(184, 173, 173);
    background-color: white;
    border: 1px solid rgb(184,173,173);
}

.container-toboolist{
    background-color: rgb(255, 255, 255);
    margin-top: 5px;
    padding-top: 20px;
    padding-bottom: 100px;
}

.ul-titles{
    padding-left: 6%; 
    margin-top: 30px;
}

ul{
    list-style: none;
}

li{
    padding-right: 10px;
    margin-top: 10px;
}

h1{
    display: inline-block;
}

.triangle{
    margin-right: 10px;
}

.true{
    display: inline-block;
    border: 1px solid green;
    border-radius: 50%;
    color: green;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-right: 10px;
}
.false{
    display: inline-block;
    border: 1px solid red;
    border-radius: 50%;
    color: red;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-right: 10px;
}

h3{
    display: inline-block;
    height: 30px;
}

.box{
    margin-left: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    color: white;
    padding: 5px 10px 5px 10px;
    font-size: 10px;
}

.blue{
    background-color: rgb(71,173,241) ;
}

.green{
    background-color: rgb(176,201,38);
}

.pink{
    background-color: rgb(216,99,161);
}

.orange{
    background-color: rgb(242,158,51);
}

.violet{
    background-color: rgb(156,114,228);
}

.aquamarine{
    background-color: rgb(100,192,169);
}

